/* Style.css
 * Author: Samuel Jackson (slj11@aber.ac.uk)
 * Date: 28/3/13
 * Description: Main CSS for the Hotel Booking prototype site.
 */

/* Default global styles. */
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; width: 100%; min-width: 800px;}

h1 	{font-size: 20pt;}
h2 	{font-size: 18pt;}
h3 	{font-size: 16pt;}
h4 	{font-size: 14pt;}
h5 	{font-size: 12pt;}
h6 	{font-size: 10pt;}

a {text-decoration: none; color: black;}

/* Header styling */
#header 	{height: 50px; background-color: #888;}
#header h1 	{float: left; padding: 10px;}

#header #right-content			{float: right; padding: 10px;}
#header #right-content span 	{padding: 5px;}

/* Nav bar styling */
#nav-box {background-color: #AAA; float: left; padding: 15px;}

#nav h4 {font-weight: bold;}
.subnav {list-style-type: square; list-style-position: inside; margin-left: 15px;}

/* content styling */
#content {background-color: #CCC; padding: 15px; padding-left: 180px}